.helper-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.words-left, .middle, .top-words {
  text-align: center;
  color: white;
}

.keyboard {
  background-color: rgb(18, 18, 19);
  max-width: 500px;
}